:root {
    --tile-size: 20px;
}

.tile{
    background-color: antiquewhite;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 3px;
    width: var(--tile-size);
    height: var(--tile-size);
}

.red .tile{
    background-color: tomato;
}

#TileContainer{
    flex-direction: row;
    flex-wrap: wrap;
    width: 180px;
    height: 180px;
}
