.ActionButton {
    background-color: rgba(45, 45, 48, 0.54);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: 0.3s;
}

.ActionButton:hover {
    background-color: rgb(45, 45, 48);
    transition-property: background-color;
    transition-duration: 0.3s;
}
