.ActionButton {
    font-size: 25px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0);
}

.ActionButton:hover {
    background-color: rgb(149, 149, 149);
    transition-property: background-color;
    transition-duration: 0.3s;
}
